.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-background);
  color: var(--color-foreground);
  padding-top: 8rem;
  padding-bottom: 4rem;
  padding-inline: 2rem;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: var(--max-width);
}

.article h1,
h2,
h3,
h4,
h5,
h6 {
  background-image: linear-gradient(to right, var(--color-primary) 0%, var(--color-secondary) 100%);
  background-clip: text;
  color: transparent;
}

.article h1 {
  font-size: 48px;
}

.article h2 {
  font-size: 36px;
}

.article h3 {
  font-size: 28px;
}

.article h4 {
  font-size: 22px;
}

.article h5 {
  font-size: 18px;
}

.article h6 {
  font-size: 16px;
}

.article a {
  color: var(--color-primary);
  text-decoration: underline;
}

.article a:hover {
  color: var(--color-secondary);
}

.article li {
  list-style-type: unset;
  list-style-position: inside;
}

.article img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

.article pre:has(code) {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-surface);
}
