.main {
  gap: 4rem;
}

.article {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.article__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: var(--max-width);
  width: 100%;
}

.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  background-image: linear-gradient(to right, var(--color-primary) 0%, var(--color-secondary) 100%);
  background-clip: text;
  color: transparent;
}

.article h1 {
  font-size: 48px;
}

.article h2 {
  font-size: 36px;
}

.article h3 {
  font-size: 28px;
}

.article h4 {
  font-size: 22px;
}

.article h5 {
  font-size: 18px;
}

.article h6 {
  font-size: 16px;
}

.article a {
  color: var(--color-primary);
  text-decoration: underline;
  box-shadow: var(--inactive-ring);
  transition:
    opacity var(--transition-delay),
    color var(--transition-delay),
    box-shadow var(--transition-delay);
}

.article a:focus-visible {
  box-shadow: var(--active-ring);
}

.article a:hover {
  color: var(--color-secondary);
}

.article a:active {
  opacity: 0.8;
}

.article li {
  list-style-type: unset;
  list-style-position: inside;
}

.article img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

.article pre:has(code) {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--color-surface);
}
